* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-image: url(../public/img/mainbg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden !important;
}
.nav-link {
    color: #fff !important;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.nav-item {
    margin: auto 25px;
}
.nav-link:hover {
    color: #7da275 !important;
}
::selection {
    color: #000;
    background: #7da275;
}
